$small-screen-min: 463px;
$small-screen: 464px;
$small-screen-max: max-width 607px;
$narrow-screen: 608px;
$narrow-screen-max: max-width 767px;
$weird-screen: 768px;
$weird-screen-max: 895px;
$medium-screen: 896px;
$medium-screen-max: max-width 991px;
$standard-screen: 992px;
$menu-standard-screen: 1024px;
$menu-screen-max: 1023px;
$menu-fix-screen: 1200px;
$standard-screen-max: 1307px;
$wide-screen: 1308px;
$wide-screen-max: 1407px;
$super-wide-screen: 1408px;
$large-wide-screen: 1720px;
