
// theme colors


$orange: #E23D4B;
$light_orange: #FF4B5A;
$dark-blue:#333A45;
$green: #1FAB5A;
$light_purple: #2A3039;

$grey: #647182;
$media_kit: #EDEBEB;
$light_media_kit: #DAD9D9;
$dark_media_kit: #746F6F;
$white_color: #ffffff;

// greys
$dark-grey:#444E5D; 
$text_grey: #4D5866;
$light-grey: #F1F1F1;
$ui-grey: #66837E;

//background color

$bkg_light_grey: $light-grey;
$bkg_light_grey2: #F2F2F2;
$bkg_dark_grey: $media_kit;
$bkg_purple: $dark-blue;
$bkg_white: $white_color;


