// @modular scale ==============================================

// http://thesassway.com/projects/modular-scale
// https://github.com/modularscale/modularscale-sass
// http://www.modularscale.com/

$ms-base: 1em;
$ms-ratio: $major-third;

$class-slug: ms;
